<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/layout :: head}">
    <!-- Agregar el enlace a Google Fonts para la fuente Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body class="bg-white text-black flex flex-col justify-center h-screen w-screen" style="font-family: 'Poppins', sans-serif;">
    <header class="relative z-10" th:replace="~{layout/layout :: header}"></header>

    <div class="w-full h-[20vh] mt-12">
        <img src="/images/bannerArtista.jpg" alt="Imagen de ejemplo" class="w-full h-full object-cover">
    </div>

    <div class="overflow-y-scroll w-full m-5 p-8">
        <form th:object="${artista}" th:action="@{/artistas/crear}" method="post">
            <!-- Contenedor principal con flex para dividir las secciones -->
            <div class="flex gap-8">

                <!-- Columna izquierda -->
                <div class="flex flex-col w-1/2 gap-6">
                    <!-- Nombre del Artista -->
                    <div class="flex flex-col gap-2 text-start">
                        <label class="text-lg font-bold text-black" style="font-size:20px;" for="nombreArt">Nombre del Artista</label>
                        <input class="bg-transparent py-1 border-b border-sky-900 focus:border-sky-500 transition-all focus:scale-105 focus:font-normal w-3/4"
                            type="text" name="nombreArt" id="nombreArt" placeholder="Nombre" th:field="*{nombreArt}" required />
                        <small class="text-black">*Ingrese el nombre del artista.</small>
                    </div>

                    <!-- Apellido del Artista -->
                    <div class="flex flex-col gap-2 text-start">
                        <label class="text-lg font-bold text-black" style="font-size:20px;" for="apellidoArt">Apellido del Artista</label>
                        <input class="bg-transparent py-1 border-b border-sky-900 focus:border-sky-500 transition-all focus:scale-105 focus:font-normal w-3/4"
                            type="text" name="apellidoArt" id="apellidoArt" placeholder="Apellido" th:field="*{apellidoArt}" required />
                        <small class="text-black">*Ingrese el apellido del artista.</small>
                    </div>

                    <!-- País del Artista -->
                    <div class="flex flex-col gap-2 text-start">
                        <label class="text-lg font-bold text-black" style="font-size:20px;" for="paisArt">País del Artista</label>
                        <input class="bg-transparent py-1 border-b border-sky-900 focus:border-sky-500 transition-all focus:scale-105 focus:font-normal w-3/4"
                            type="text" name="paisArt" id="paisArt" placeholder="País" th:field="*{paisArt}" required />
                        <small class="text-black">*Ingrese el país del artista.</small>
                    </div>
                </div>

                <!-- Columna derecha -->
                <div class="flex flex-col w-1/2 gap-6">
                    <!-- Fecha de Nacimiento -->
                    <div class="flex flex-col gap-2 text-start">
                        <label class="text-lg font-bold text-black" style="font-size:20px;" for="fechaNac">Fecha de Nacimiento</label>
                        <input class="bg-transparent py-1 border-b border-sky-900 focus:border-sky-500 transition-all focus:scale-105 focus:font-normal w-3/4"
                            type="date" name="fechaNac" id="fechaNac" th:field="*{fechaNac}" required />
                        <small class="text-black">*Seleccione la fecha de nacimiento.</small>
                    </div>

                    <!-- Disciplina del Artista -->
                    <div class="flex flex-col gap-2 text-start">
                        <label class="text-lg font-bold text-black" style="font-size:20px;" for="disciplinaArtista">Disciplina del Artista</label>
                        <input class="bg-transparent py-1 border-b border-sky-900 focus:border-sky-500 transition-all focus:scale-105 focus:font-normal w-3/4"
                            type="text" name="disciplinaArtista" id="disciplinaArtista" placeholder="Pintura, escultura..." th:field="*{disciplinaArtista}" required />
                        <small class="text-black">*Indique la disciplina artística del artista.</small>
                    </div>
                </div>
            </div>

            <!-- Botón de enviar -->
            <div class="flex flex-col justify-center items-center mb-4">
                <input class="border py-2 px-4 rounded bg-black text-white hover:bg-gray-800 transition-all font-bold text-lg m-auto" type="submit" value="Crear">
            </div>

        </form>
    </div>

    <footer class="relative" th:replace="~{layout/layout :: footer}"></footer>
</body>
</html>
